---
import '@styles/global.css'
import { Head } from 'astro-capo'
import { ViewTransitions } from 'astro:transitions'
import { cannonicalURL } from '@/constants/seo'
import { getLangFromUrl, useTranslations } from '@i18n/utils'

const isProd = import.meta.env.PROD

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)

const localeCode = {
  es: 'es_ES',
  en: 'en_US'
} as const

interface Props {
  title?: string
}

const { title = t('page.title') } = Astro.props
const ogImage = cannonicalURL + '/images/og.png'
---

<Head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="canonical" href={cannonicalURL} />
  <meta
    name="keywords"
    content="hugo, hugo boyano, hugo boyano escoz, developer, fullstack, software developer, fullstack developer, waxer59, waxer, hugo developer"
  />

  <meta name="description" content={t('meta.description')} />

  {
    isProd && (
      <script
        is:inline
        defer
        src="https://analytics.hgo.one/script.js"
        data-website-id="ffde40d4-edb3-4cab-a0f1-f8628b7626f0"
      />
    )
  }

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Waxer59" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={t('og.description')} />
  <meta name="twitter:image" content={ogImage} />

  <meta property="og:image" content={ogImage} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={t('og.description')} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:site_name" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content={localeCode[currentLang]} />

  <ViewTransitions />
</Head>
